@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
    font-size: xx-large;
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.listphoto {
    width: 25%;
}

h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.title {
    display: flex;
    justify-content: left;
}

img {
    max-width: 90%;
    height: 350px;
}